*{
    font-family: 'Montserrat', sans-serif;
    color: #35312E;
    scroll-behavior: smooth;
}
body{
    background-color: #E5E5E5;
    margin: 0;
}
div.container {
  max-width: 1440px;
  margin: 0px auto;
}
.header {
    position: relative;
    background-color: #F0EEDD;
    height: 40px;
    width: 1440px;
    border-radius: 0px;
}
.shipping {
    position: absolute;
    width: 554px;
    height: 21px;
    left: 470px;
    top: 2px;
}
.shipping p {
    position: absolute;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-family: roboto;
    color: #670A18;
}
.nav {
    position: relative;
    background-color: #fff;
    top: 40px;
    height: 60px;
    width: 1440px;
}
.lefts {
   position: absolute;
   height: 23px;
   width: 200px;
   top: 20px;
   left: 45px;
}
.lefts p.line1 {
   display: inline;
   font-size: 13px;
   font-family: Roboto;
   font-weight: bold;
   letter-spacing: 0.5px;
   text-indent: 50px;  
}
.lefts p.line2{
    display: inline;
    font-size: 13px;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-indent: 50px;
    padding: 0px 30px;
}
.center {
   position: absolute;
   height: 33px;
   width: 131px;
   left: 630px;
   top: 10px;
}
.center .img {
   background-image: url("../svg/ourplace.svg");
   height: 32px;
   /* border: red 2px solid; */
}
.rigths {
   position: absolute;
   height: 23px;
   width: 200px;
   left: 1050px;
   top: 20px;
}
.rigths p.line3 {
   display: inline;
   font-size: 13px;
   font-family: Roboto;
   font-weight: bold;
   letter-spacing: 0.5px;
   padding: 0px 30px;
}
.rigths p.line4 {
    display: inline;
   font-size: 13px;
   font-family: Roboto;
   font-weight: bold;
   letter-spacing: 0.5px;
}
.rigths .radius {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 185px;
    bottom: 0px;
    background-color:#C87B5E ;
    border-radius: 32px;     
}
.rigths .radius p {
    position: absolute;
    top: -12px;
    left: calc(50% - 8px/2);
    /* right: 8px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;   
}
.main {
    position: relative;
    height: 605px;
    width: 1440px;
    top: 60px;
    border-radius: 0px;
    background-image: url("../images/pasida1440x605.jpg");  
}
.main .article1 {
    position: absolute;
    width: 248px;
    height: 16px;
    left: 383px;
    top: 168px;
}
.main .article1 p {
    margin: 0px;
    font-family: roboto;
    font-size: 16px;
    
}
.main .article2 {
    position: absolute;
    width: 248px;
    height: 72px;
    left: 383px;
    top: 193px;
}
.main .article2 h1 {
    margin: 0px;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    font-family: roboto;
}
.main .article3 {
    position: absolute;
    width: 248px;
    height: 72px;
    left: 383px;
    top: 246px;
}
.main .article3 h2 {
    margin: 0px;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    font-family: roboto;
}
.main .button {
    position: absolute;
    width: 248px;
    height: 60px;
    left: 383px;
    top: 375px;
    background-color: #D37657;
    border-radius: 2px;
}
.main .button a {
    position: absolute;
    width: 188px;
    height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    top: 23px;
    font-family: roboto;
    font-weight: bold;
    font-size: 12px;
    left: calc(50% - 188px/2);
    text-align: center;
    color: #FFFFFF;     
}
.section {
    position: relative;
    width: 1440px;
    height: 212px;
    top: 60px;
    background: #F5F1E9;
}
.section .line1 {
    position: absolute;
    width: 629px;
    height: 48px;
    left: 406px;
    top: 12px;
}
.section .line1 h2 {
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}
.section .line2 {
    position: absolute;
    width: 136px;
    height: 29px;
    background-image: url("../images/nav1x136x29.png");
    left: 224px;
    top: 130px;
}
.section .line3 {
    position: absolute;
    width: 208px;
    height: 29px;
    background-image: url("../images/nav2x208x29.png");
    left: 473px;
    top: 130px;
}
.section .line4 {
    position: absolute;
    width: 112px;
    height: 29px;
    background-image: url("../images/nav3x112x29.png");
    left: 807px;
    top: 130px;
}
.section .line5 {
    position: absolute;
    width: 116px;
    height: 29px;
    background-image: url("../images/nav4x116x29.png");
    left: 1090px;
    top: 130px;  
}
.article {
    position: relative;
    width: 1440px;
    height: 340px;
    top: 61px;
    background-color: #FCFAF6;
}
.article .lefts {
    position: absolute;
    width: 400px;
    height: 93px;
    left: 135px;
    top: 104px;
}
.article .lefts h2 {
    text-align: center;
    line-height: 46px;
    font-size: 41px;
    letter-spacing: 1.25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.article .rigths {
    position: absolute;
    width: 650px;
    height: 104px;
    top: 121px;
    left: 670px;
}
.article .rigths p {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 26px;
}
.pasuda {
    position: relative;
    width: 1440px;
    height: 939px;
    top: 45px;
    background-color: #FBF6EA;
    /* border: red 3px solid; */
}
.pasuda-top {
    position: absolute;
    width: 564px;
    height: 48px;
    left: 448px;
    top: 70px;
}
.pasuda-top p {
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 40px;   
}
.pasuda-ball1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 548px;
    top: 171px;
    border-radius: 15px;
    background-color: #E09D81;
}
.pasuda-ball2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 593px;
    top: 171px;
    border-radius: 15px;
    background-color: #748EA1;
}
.pasuda-ball3 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 638px;
    top: 171px;
    border-radius: 15px;
    background-color: #B76D47;
}
.pasuda-ball4 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 683px;
    top: 171px;
    border-radius: 15px;
    background-color: #7D836E;
}
.pasuda-ball5 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 728px;
    top: 171px;
    border-radius: 15px;
    background-color: #C33636;
}
.pasuda-ball6 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 773px;
    top: 171px;
    border-radius: 15px;
    background-color: #CDC7B3;
}
.pasuda-ball7 {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 818px;
    top: 171px;
    border-radius: 15px;
    background-color: #595752;
    border: #E09D81 3px solid;
}
.pasuda-ball8 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 863px;
    top: 171px;
    border-radius: 15px;
    background-color: #D3C2CA;
}
.pasuda-center {
    position: absolute;
    width: 1440px;
    height: 553px;
    top: 246px;
}
.pasuda-img {
    position: absolute;
    width: 562px;
    height: 553px;
    left: 518px;
    background-image: url("../svg/pasuda.svg");
}
.pasuda-img-text1 {
    position: absolute;
    width: 135px;
    height: 31px;
    top: 83px;
    left: 374px;
}
.pasuda-img-text1 p {
    position: absolute;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    text-transform: uppercase;
    top: -10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pasuda-img-text2 {
    position: absolute;
    width: 107px;
    height: 31px;
    top: 357px;
    left: 454px;
}
.pasuda-img-text2 p {
    position: absolute;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    text-transform: uppercase;
    top: -10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pasuda-img-text3 {
    position: absolute;
    width: 172px;
    height: 47px;
    top: 472px;
    left: 374px;
}
.pasuda-img-text3 p {
    position: absolute;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    top: -10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pasuda-img-text4 {
    position: absolute;
    width: 158px;
    height: 31px;
    top: 36px;
    left: 378px;
}
.pasuda-img-text4 p {
    position: absolute;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    top: -10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pasuda-img-text5 {
    position: absolute;
    width: 158px;
    height: 31px;
    top: 285px;
    left: 378px;
}
.pasuda-img-text5 p {
    position: absolute;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    top: -10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pasuda-img-text6 {
    position: absolute;
    width: 115px;
    height: 16px;
    top: 440px;
    left: 450px;   
}
.pasuda-img-text6 p {
    position: absolute;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    top: -10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.kitchen {
    position: relative;
    width: 1440px;
    height: 870px;
    top: 45px;
    background-color: #FCFAF6;
    border: red 3px solid;
}
.advertising-center {
    position: absolute;
    width: 1344px;
    height: 820px;
    left: 48px;
    border: blue 3px solid;
}
.advertising-top {
    position: absolute;
    width: 477px;
    height: 200px;
    top: 73px;
    left: 455px;
    border: green 3px solid;
}












